node_modules/
dist/
.env
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.lock-wscript
.ntvs_analysis.js
.visualstudio
.vscode/
.idea/
.next/
out/
build/
stats.json
.svelte-kit/
.vercel/
.turbo/
.cache/
.npm/
.eslintcache
.stylelintcache
.stylelintrc
.prettiercache
.prettierrc
.parcel-cache
.vike/
.vite-inspect/
.vite-plugin-checker/
.vite-plugin-svgr/
.vite-plugin-vike/
coverage/
cypress/videos/
cypress/screenshots/
test-results/
playwright-report/
blob-report/
playwright/.cache/
